<a href="https://colab.research.google.com/github/abhimanyu922/demo-2/blob/master/Python_Programming_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=red> Python Programming Tutorial <font/>

# <font color=blue>Operators<font/>

### 1. Arithmetic operator
### 2. Relational(Comparison) operator
### 3. Assignment operator
### 4. Logical operator
### 5. Identity operator
### 6. Membership operator
### 7. Bitwise operator

# 1. Arithmetic operator

# +  ,  -   ,  * ,  ** ,  /  ,  //  ,  %

In [1]:
 a = 10
 b = 20

In [3]:
# Addition of two number            (a=100, b=20)
a+b

30

In [ ]:
# Subtraction of Two numbers        (a=10, b=20)
a-b

-10

In [ ]:
# Multiplication of two numbers    (a=10, b=20)
a*b

200

In [ ]:
# Division of two numbers          (a=10, b=20)
a/b

0.5

In [ ]:
# Floor division of two numbers    (a=10, b=20)
a//b

0

In [ ]:
# Remainders                    (a=10, b=20)
b%a

0

In [ ]:
# Exponential  (20 power of a )
a**b

100000000000000000000

# 2. Comparison / Relational operator
It gives outpit in bolean value.

# ==  ,  <   ,  > ,  <= ,  >=  ,  !=

In [ ]:
# Equal to comparison between a and b.     ( a=10, b=20)
a==b

False

In [ ]:
# Not equal to comparison between a and b.     ( a=10, b=20)
a!=b

True

In [ ]:
# Greater than comparison between a and b.     ( a=10, b=20)
a>b

False

In [ ]:
# Less than comparison between a and b.     ( a=10, b=20)
a<b------------------

True

In [ ]:
# Greater than & equal to comparison between a and b.     ( a=10, b=20)
a>=b

False

In [ ]:
# Greater than & equal to comparison between a and b.     ( a=10, b=20)
a<=b

True

# 3. Assignment operator
# =  ,  +=   ,  -= ,  *= ,  /=  ,  //= , %=

In [ ]:
# Assignment operator       (a=10, b=20)
c = a+b

c

30

In [ ]:
# Multiple Assignment method
w, x, y, z = 11, 12, 13, 17
w, x, y, z

(11, 12, 13, 17)

In [ ]:
# Plus equal        ( c = c+b )
c+=b
c

50

In [ ]:
# Minus equal        ( c = c-b )
c-=b
c

30

In [ ]:
# Multiply equal        ( c = c*b )
c*=b
c

600

In [ ]:
# Divide equal        ( c = c/b )
c/=b
c

30.0

In [ ]:
# Floor division equal        ( c = c//b )
c//=b
c

1.0

In [ ]:
# Modulus/Remainder equal        ( c = c%b )
c%=b
c

1.0

# 4. Logical operator
# 'and' , 'or' , 'not'

In [ ]:
# and logic
a=10
b=20

c = (a<b) and (b>0) and (a<100) and (b!=a)
c

True

In [ ]:
# and logic :- Takes all the condition and check. Ony if, all condition is true then returns true.

c = (a<b) and (b>0) and (a<9) and (b!=a)
c

False

In [ ]:
# or logic :- Takes more than one condition and returns true if any condition is true.

c = (a<b) or (b>0) or (a<9) or (b!=a)
c

True

In [ ]:
# not logic :- Takes one condition and return opposite result.

c = not(a<b)
c

False

# 5. Identity operator
It will check that left value is equal to right value or not.
# 'is' , 'is not'

In [ ]:
# is
a=5
b=5
a is b

True

In [ ]:
(('Y' is 'Python') , 1 is 1, 1 is 0)

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-41-d8fe3b2d85d5>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  (('Y' is 'Python') , 1 is 1, 1 is 0)
<ipython-input-41-d8fe3b2d85d5>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  (('Y' is 'Python') , 1 is 1, 1 is 0)
<ipython-input-41-d8fe3b2d85d5>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  (('Y' is 'Python') , 1 is 1, 1 is 0)

(False, True, False)

In [ ]:
(('Y' is not 'Python') , 1 is not 1, 1 is not 0)

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-42-7fb7f88df096>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  (('Y' is not 'Python') , 1 is not 1, 1 is not 0)
<ipython-input-42-7fb7f88df096>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  (('Y' is not 'Python') , 1 is not 1, 1 is not 0)
<ipython-input-42-7fb7f88df096>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  (('Y' is not 'Python') , 1 is not 1, 1 is not 0)

(True, False, True)

# 6. Membership operator
Checks the existence of a particular thing within object of the objects and return boolean values.

# 'in' , 'not in'

In [ ]:
a = 'Akshay Kumar'
'Y' in a , 'K' in a

(False, True)

In [ ]:
a = 'New York City'
'Y' not in a , 'K' not in a

(False, True)

# 7. Bitwise operator

Works with binary digits.
# &  ,  |  , ^ , ~  ,  <<  ,  >>

In [ ]:
# Bitwise 'and' operator
a = 5
b = 6

a&b

In [ ]:
# Bitwise 'or' operator
a = 5
b = 6

a|b

In [ ]:
# Bitwise 'Xor' operator
a = 5
b = 6

a^b

In [ ]:
# Bitwise complement
a = 5

c=~a
c

In [ ]:
# Bitwise left complement
a = 5

c=a<<2
c

In [ ]:
# Bitwise right complement
a = 5

c=a>>2
c

# * Program To Swap Two Number

   1. Using third variable
   
   2. Using + and –
    
   3. Using * and /
    
   4. Using bitwise Xor (^)
    
   5. Using python construct

In [ ]:
# Swapping of number by
# 1. Using third variable

a = 5
b = 6

print('Value before swapping........')
print('value of a is =',a)
print('value of b is =',b)

c=a

a=b
b=c


print('Value after swapping.........')
print('value of a is =',a)
print('value of b is =',b)

Value before swapping........
value of a is = 5
value of b is = 6
Value after swapping.........
value of a is = 6
value of b is = 5

In [ ]:
# Swapping of number by
# # 2. Using + and –

a = 5
b = 6

print('Value before swapping........')
print('value of a is =',a)
print('value of b is =',b)

a=a+b

b=a-b
a=a-b


print('Value after swapping.........')
print('value of a is =',a)
print('value of b is =',b)

Value before swapping........
value of a is = 5
value of b is = 6
Value after swapping.........
value of a is = 6
value of b is = 5

In [ ]:
# Swapping of number by
# 3. Using * and /

a = 5
b = 6

print('Value before swapping........')
print('value of a is =',a)
print('value of b is =',b)

a=a*b

b=a/b
a=a/b


print('Value after swapping.........')
print('value of a is =',a)
print('value of b is =',b)

Value before swapping........
value of a is = 5
value of b is = 6
Value after swapping.........
value of a is = 6.0
value of b is = 5.0

In [ ]:
# Swapping of number by
# 4. Using Xor operator (' ^ ')

a = 5
b = 6

print('Value before swapping........')
print('value of a is =',a)
print('value of b is =',b)

a=a^b
b=a^b
a=a^b


print('Value after swapping.........')
print('value of a is =',a)
print('value of b is =',b)

In [ ]:
# Swapping of number by
# 5. Using python construct

a = 5
b = 6

print('Value before swapping........')
print('value of a is =',a)
print('value of b is =',b)

a,b=b,a

print('Value after swapping.........')
print('value of a is =',a)
print('value of b is =',b)

In [ ]:
# Simple interest calculation
p=1000    # value assigning
r=2.5
t=2

si=(p*r*t)/100   # formula

print('simple interest is=',si)

In [ ]:
# Temperature converter fehrenheit to celcius

f=98.6

c=((f-32)/9)*5

print('temperature in celcius',c)

In [ ]:
# Temperature converter, celcius to fehrenheit

c=37

f=(c/5)*9+32

print('temperature in fehrenheit',f)

# <font color=red>DATA STRUCTURE<font/>

## Built in Data- structure

### 1. Tuple
### 2. List
### 3. Dictionary
### 4. Set

## <font color=red>1. Tuple<font/>

Tuple is an ordered collection of elements enclosed within ( ).

Tuples are immutable.

In [ ]:
S = ('Akshay kumar', 345, 67.9, 456, 32, 'Python')

### Slicing Operation

### <font color=red>variable<font/> <font color=green>[ start : end<font/> :<font color=red>step<font/> <font color=green>]<font/>

In [ ]:
S= (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 )

In [ ]:
S[2]

3

In [ ]:
S[2:8]

(3, 4, 5, 6, 7, 8)

In [ ]:
S[3:9:2]

(4, 6, 8)

In [ ]:
S[-4]

9

In [ ]:
S[:8:4]

(1, 5)

In [ ]:
S[-4:-8:-2]

(9, 7)

In [ ]:
S[:6]

(1, 2, 3, 4, 5, 6)

In [ ]:
# Reverse squence
S[::-1]

(12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
S[3:]

(4, 5, 6, 7, 8, 9, 10, 11, 12)

In [ ]:
S[3::2]

(4, 6, 8, 10, 12)

### Tuple method
#### <font color=green>1.count( )<font/>
#### <font color=green>2.index( )<font/>

In [ ]:
X = (1,2,3,5,5,5,3,2,5,2,9,5,6,7)

In [ ]:
# finding frequency of an object.
X.count(2)

3

In [ ]:
# finding Index number of any value
X.index(9)

10

In [ ]:
# Concatenating Tuple
tup1 = (1,2,3)
tup2 = (4,5,6)
tup1+tup2

(1, 2, 3, 4, 5, 6)

In [ ]:
# Repeating and Concatenating
tup1*3+tup2

(1, 2, 3, 1, 2, 3, 1, 2, 3, 4, 5, 6)

### Tuple Function
### <font color=green>1.len( )<font/>
### <font color=green>2.max( )<font/>
### <font color=green>3.min( )<font/>
### <font color=green>4.sorted( )<font/>

In [ ]:
# Finding Length of Tuple
len(X)

14

In [ ]:
# Maximum value in Tuple
max(X)

9

In [ ]:
# Mininmum value in tuple
min(X)

1

In [ ]:
# Sorting the values in Ascending order
sorted(X)

[1, 2, 2, 2, 3, 3, 5, 5, 5, 5, 5, 6, 7, 9]

In [ ]:
# Deleting the Tuple
del X
x

10

In [ ]:
# Nested Tuple
a = (4, 5, 6,(25,36),[24, 23, 12, 14])
a

(4, 5, 6, (25, 36), [24, 23, 12, 14])

## <font color=red>2. List<font/>

List is an ordered collection of heterogeneous elements enclosed within [ ].

Tuples are mutable.

In [ ]:
S = ['Akshay', 25, 75.5, True, 25, 52, 1, 9]
S

['Akshay', 25, 75.5, True, 25, 52, 1, 9]

### Slicing Operation
Accessing

Adding

Changing

Deleting

### <font color=red>variable<font/> <font color=green>[ start : end<font/> :<font color=red>step<font/> <font color=green>]<font/>

In [ ]:
S[0]

'Akshay'

In [ ]:
S[::2]

['Akshay', 75.5, 25, 1]

In [ ]:
S[-2:-8:-2]

[1, 25, 75.5]

In [ ]:
# Adding element
S[4] = "Added element"
S

['Akshay', 25, 75.5, True, 'Added element', 52, 1, 9]

In [ ]:
# Adding element
x=[5,3,'Different list']

S=S+x
S

['Google',
 25,
 75.5,
 True,
 'Added element',
 52,
 1,
 9,
 5,
 3,
 'Different list',
 5,
 3,
 'Different list',
 5,
 3,
 'Different list']

In [ ]:
# Changing 0rth index element
S[0]="Google"
S

['Google',
 25,
 75.5,
 True,
 'Added element',
 52,
 1,
 9,
 5,
 3,
 'Different list',
 5,
 3,
 'Different list',
 5,
 3,
 'Different list']

In [ ]:
S[1] = [23]

In [ ]:
# Deleting the list
del(S)

### List methods
#### <font color=green>1.append( )<font/>,                                               <font color=green>2.extend( )<font/>
#### <font color=green>3.count( )<font/>,                                                <font color=green>4.index( )<font/>
#### <font color=green>5.insert( )<font/>,                                               <font color=green>6.remove( )<font/>
#### <font color=green>7.pop( )<font/>,                                                  <font color=green>8.reverse( )<font/>

In [ ]:
X = [1, 2, 3, 4, 5, 6,7]

In [ ]:
# Append method: Appending a new elemnent
X.append('Akshay')
X

[1, 2, 3, 4, 5, 6, 7, 'Akshay']

In [ ]:
# Extend method: Extending a tuple with other tuple
Y = [2, 3, 2, 4, 5, 6]

X.extend(Y)
X

[1, 2, 3, 4, 5, 6, 7, 'Akshay', 2, 3, 2, 4, 5, 6]

In [ ]:
# Count method : Counting the number of occurance
X.count(2)

3

In [ ]:
# Index method
X.index('Akshay')

7

In [ ]:
# Insert method
X =[1, 2, 3, 4, 5, 6, 7, 'Akshay']

X.insert(8,'kumar')
X

[1, 2, 3, 4, 5, 6, 7, 'Akshay', 'kumar']

In [ ]:
# Remove method
X.remove('kumar')
X

[1, 2, 3, 4, 5, 6, 7, 'Akshay']

In [ ]:
# Pop method : Deleting last value or by specifying index
X =  ['Google', 1, 2, 3, [2, 3, 45] ]
X.pop()

[2, 3, 45]

In [ ]:
X.pop(0)
X

[1, 2, 3]

In [ ]:
# Reverse method
X = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
X.reverse()
X

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### List Function
### <font color=green>1.len( )<font/>
### <font color=green>2.max( )<font/>
### <font color=green>3.min( )<font/>
### <font color=green>4.sorted( )<font/>
### <font color=green>5.list( )<font/>

In [ ]:
X = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# len function:find the length of list
len(X)

10

In [ ]:
# max function: Gives the maximum value of tuple.
max(X)

10

In [ ]:
# min function: Gives the minimum value of tuple.
min(X)

1

In [ ]:
# Ascending and descending order
X = [2, 3, 8, 4, 6, 1, 6, 3, 5]

In [ ]:
# sorted function: Sorting the element in Ascending
sorted(X)

[1, 2, 3, 3, 4, 5, 6, 6, 8]

In [ ]:
# sorted function: Sorting the element in descending
sorted(X, reverse=True)

[8, 6, 6, 5, 4, 3, 3, 2, 1]

In [ ]:
# Reverse order
X[::-1]

[5, 3, 6, 1, 6, 4, 8, 3, 2]

In [ ]:
# list function: Converting other data type into list type.
list(X)

[2, 3, 8, 4, 6, 1, 6, 3, 5]

### User input in list
P = [ ]

X = input('Enter element')

P.append(X)

In [ ]:
P = [ ]

a = (int)(input('Enter number of element'))   # 1st input: How many numbers user want to enter
n=1

while n<=a:
    X=input('Enter the element')   # 2nd input: Enter the element
    P.append(X)
    n=n+1

print(P)

Enter number of element6
Enter the element1
Enter the element2
Enter the element6
Enter the element3
Enter the element5
Enter the element1
['1', '2', '6', '3', '5', '1']

## <font color=red>3. Dictionary<font/>

Dictionary is an unordered collection of data type that stores values in the form of key and value

    
Dictionary is mutable data type where keys can not be changed but values can be changed, repeated or updated . Use: { }. values are stored in curly bracket.

In [ ]:
X = {'Name':'Akshay', 'Age':23, 12:'class'}
X

### Slicing Operation
Accessing

Adding

Changing

Deleting

In [ ]:
# Accessing
X['Name']

In [ ]:
# Adding
X['Marks'] = 600
X

In [ ]:
# Changing
X['Name'] = "Amit"
X

In [ ]:
# Deleting
del(X)

### Dictionary methods
#### <font color=green>1.copy( )<font/>,                                                 <font color=green>2.get( )<font/>
#### <font color=green>3.setdefault( )<font/>,                                           <font color=green>4.keys( )<font/>
#### <font color=green>5.values( )<font/>,                                               <font color=green>6.Update( )<font/>
#### <font color=green>7.items( )<font/>,                                                <font color=green>8.clear( )<font/>

In [ ]:
# Copy method
X = {'Name':'Akshay', 'Age':23, 12:'class'}

Y=X.copy()
Y

{'Name': 'Akshay', 'Age': 23, 12: 'class'}

In [ ]:
# Get method
X.get('Name')

'Akshay'

In [ ]:
X.get('xyz','Unknown value')

'Unknown value'

In [ ]:
# Setdefault
X.setdefault('xyz','Unknown value')

'Unknown value'

In [ ]:
X

{'Name': 'Akshay', 'Age': 23, 12: 'class', 'xyz': 'Unknown value'}

In [ ]:
# Key method
X.keys()

dict_keys(['Name', 'Age', 12, 'xyz'])

In [ ]:
# Value method
X.values()

dict_values(['Akshay', 23, 'class', 'Unknown value'])

In [ ]:
# Item method
X.items()

dict_items([('Name', 'Akshay'), ('Age', 23), (12, 'class'), ('xyz', 'Unknown value')])

In [ ]:
# Append method
S = {'city':'New Delhi'}

X.update(S)
X

{'Name': 'Akshay',
 'Age': 23,
 12: 'class',
 'xyz': 'Unknown value',
 'city': 'New Delhi'}

In [ ]:
# clear method
X.clear()
X

{}

### Dictionary Function
### <font color=green>1.len( )<font/>
### <font color=green>2.max( )<font/>
### <font color=green>3.min( )<font/>
### <font color=green>4.str( )<font/>
### <font color=green>4.dict( )<font/>

In [ ]:
# Dictionary
X = {'Name':'Akshay', 'Age':23, 12:'class'}

In [ ]:
# len function
len(X)

3

In [ ]:
# Str function
str(X)

"{'Name': 'Akshay', 'Age': 23, 12: 'class'}"

In [ ]:
# Dict method: converting other datatypes to dictionary
dict(X)
X

{'Name': 'Akshay', 'Age': 23, 12: 'class'}

## <font color=red>4. Set<font/>

Set is an unordered and non-indexed collection data type in python.

    
Set is not changeable but we can add new elements

In [ ]:
X = {'Akshay', 325, 50.36}

In [ ]:
# Packing and unpacking
a, b, c = {64, 38, 61}

In [ ]:
a

64

### Operation
Accessing

Adding

Changing --> Not changeable

Deleting

In [ ]:
X = {12, 6, 25, 63, 21,2.5}
X

{2.5, 6, 12, 21, 25, 63}

In [ ]:
# No slicing operation
X[0]

TypeError: 'set' object is not subscriptable

In [ ]:
# Deletion
del(X)

NameError: name 'X' is not defined

### Set methods
#### <font color=green>1.update( )<font/>,                                                 <font color=green>2.remove( )<font/>
#### <font color=green>3.discard( )<font/>,                                 <font color=green>4.symmetric_difference( )<font/>
#### <font color=green>5.union( )<font/>,                                         <font color=green>6.intersection( )<font/>
#### <font color=green>7.difference( )<font/>,                                          <font color=green>8.clear( )<font/>
#### <font color=green>8.clear( )<font/>

In [ ]:
# Update method
X={12,35,25,68}
Y={25,65,100,10,1000}

X.update(Y)
X

{10, 12, 25, 35, 65, 68, 100, 1000}

In [ ]:
# add method
Y.add(2500)
Y

{10, 25, 65, 100, 1000, 2500}

In [ ]:
# Remove method
Y.remove(1000)
Y

{10, 25, 65, 100, 2500}

In [ ]:
# Pop method
Y.pop()

65

In [ ]:
# Discard method
Y.discard(2500)
Y

{10, 25, 100}

In [ ]:
# clear method
Y.clear()
Y

set()

In [ ]:
# union method
Y={2,3,'G',100}

X.union(Y)

{10, 100, 1000, 12, 2, 25, 3, 35, 65, 68, 'G'}

In [ ]:
# Intersection method
X.intersection(Y)

{100}

In [ ]:
# Difference method
X.difference(Y)

{10, 12, 25, 35, 65, 68, 1000}

In [ ]:
# Symmetric method
X.symmetric_difference(Y)

{10, 1000, 12, 2, 25, 3, 35, 65, 68, 'G'}

#### Difference between 'update( )' and 'add( )' method

update([ ]), function is used to add more than one objects and add( ) is used to add only one objects.

#### ' remove( )' and 'discard( )'

Both are used to remove the values

In [ ]:
X = {'Akshay','Kuamr', 'python','Developer', 54, 60.25}
X

{54, 60.25, 'Akshay', 'Developer', 'Kuamr', 'python'}

In [ ]:
# Update method
X.update(['Data scientist','Artificial inteligence engineer'])
print(X)

{'Developer', 'Akshay', 'Data scientist', 'Artificial inteligence engineer', 54, 'python', 'Kuamr', 60.25}

In [ ]:
# Add method
X.add('Cloud computing')
print(X)

{'Developer', 'Akshay', 'Data scientist', 'Artificial inteligence engineer', 54, 'python', 'Kuamr', 60.25, 'Cloud computing'}

### Set Function
### <font color=green>1.len( )<font/>
### <font color=green>2.max( )<font/>
### <font color=green>3.min( )<font/>
### <font color=green>4.sorted( )<font/>
### <font color=green>4.set( )<font/>

In [ ]:
# len function
len(X)

6

In [ ]:
# Max function
max(X)

TypeError: '>' not supported between instances of 'int' and 'str'

In [ ]:
# Min function
min(X)

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
# Sorted function
sorted(X)

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
# Set function
set(X)

{54, 60.25, 'Akshay', 'Developer', 'Kuamr', 'python'}

# Python String

- String is a sequence of character which consist character within single quotes(  ‘  ‘  ), double quotes(  “  “ ) or triple quotes(  ‘”  ‘”  ) or it can be blank.
- String is an immutable data structure that means it can not be changed.

In [ ]:
S = "Artificial intelligence"
S

'Artificial intelligence'

# String Operation

- Accessing
- Adding
- Changing
- Deleting

In [ ]:
# By Slicing operation we can access the element of objects.
S[0]

'A'

In [ ]:
# Concatenating two or more string object.
A = 'Akshay kumar '

A+S

'Akshay kumar Artificial intelligence'

In [ ]:
# Repentance
S*4

'Artificial intelligenceArtificial intelligenceArtificial intelligenceArtificial intelligence'

#### Slicing operation

In [ ]:
A[0:6]

'Akshay'

In [ ]:
A[7:]

'kumar '

In [ ]:
A[2:6:2]

'sa'

In [ ]:
A[3::2]

'hykmr'

In [ ]:
A[::-1]

' ramuk yahskA'

### String Function
### <font color=green>1.find( )<font/>
### <font color=green>2.lower( )<font/>
### <font color=green>3.upper( )<font/>
### <font color=green>4.title( )<font/>
### <font color=green>5.capitalize( )<font/>
### <font color=green>6.swapcase( )<font/>
### <font color=green>7.rstrip( )<font/>
### <font color=green>8.lstrip( )<font/>
### <font color=green>9.split( )<font/>
### <font color=green>10.lsplit( )<font/>
### <font color=green>11.rsplit( )<font/>
### <font color=green>12.just( )<font/>
### <font color=green>13.ljust( )<font/>
### <font color=green>14.rjust( )<font/>
### <font color=green>15.center( )<font/>
### <font color=green>16.replace( )<font/>
### <font color=green>17.length( )<font/>

In [ ]:
# find the index of substring
S = "This is Akshay"
S.find('Akshay')

8

In [ ]:
# Converting string into lower case.
String = "My name is Akshay"
String.lower()

'my name is akshay'

In [ ]:
# Converting string into upper case
String.upper()

'MY NAME IS AKSHAY'

In [ ]:
# Converting string into normal case for each words
String.title()

'My Name Is Akshay'

In [ ]:
# Converting string into standard case for sentence
String.capitalize()

'My name is akshay'

In [ ]:
# converting string case by swaping method. capital case<-->small case
String.swapcase()

'mY NAME IS aKSHAY'

In [ ]:
# Removing extra-character (Right strip)
X="tAkshay kumark"
X=X.rstrip('k')

In [ ]:
# Removing extra-character (Right strip)
X.lstrip('t')

'Akshay kumar'

In [ ]:
# Splitting a string
fruit = ' i like apples , mangoes, bananas'
fruit.split(',')

[' i like apples ', ' mangoes', ' bananas']

In [ ]:
X.split(" ")

['tAkshay', 'kumar']

In [ ]:
X= "I like to play football and cricket"
X.split(" ",2)   # splitting only first two words and default from left side

['I', 'like', 'to play football and cricket']

In [ ]:
X= "I like to play football an cricket"
X.rsplit(" ",2)   # splitting only first two words from right side

['I like to play football', 'an', 'cricket']

In [ ]:
# String Arrangement / String justification
X.ljust(50," ")                  #  gives the number of spacified space.

'I like to play football an cricket                '

In [ ]:
X.rjust(50," ")

'                I like to play football an cricket'

In [ ]:
# Justification with some character/ digit / alphanumeric value.
X.rjust(50,"$")

'$$$$$$$$$$$$$$$$I like to play football an cricket'

In [ ]:
X.ljust(50,"&")

'I like to play football an cricket&&&&&&&&&&&&&&&&'

In [ ]:
X.center(50,"0")

'00000000I like to play football an cricket00000000'

In [ ]:
# To fill Zero
X.zfill(50)

'0000000000000000I like to play football an cricket'

In [ ]:
# Replace the string
X.replace("an", 'and')

'I like to play football and cricket'

In [ ]:
# Boolean method to check string.
X.isdigit()

False

In [ ]:
X.isalnum()

False

In [ ]:
X.isalpha()

False

In [ ]:
X.isspace()

False

In [ ]:
X.islower()

False

In [ ]:
# startswith and endwith
X="We all are students"
X.startswith('We')

True

In [ ]:
X.startswith("are",7,12)

True

In [ ]:
# endswith
credit = '12500 500 500 500'
credit.endswith('500')

True

In [ ]:
credit.endswith('500',12,20)

True

In [ ]:
# Python endswith with array

extensions = '.mp3','.mp4','.jpg','xlsx','docs'

file_name = 'music.xlsx'

print(file_name.endswith(extensions))

True

#  Arrays

Arrays are used to store data of just one types and they have index which is used to access the  data accordingly.

Collection of similar data types and arrangement of data which can have multidimensional data of homogeneaus in nature.

### 1D vector

Vector can be one-dimensional array

### 2D vector

The data elements in two dimentional arrays can be accessed using two indices. One index referring to the main or parent array and another index reffering to the position of the data element in the inner aarray.

Matrix is a special case of two dimensional array.

In [ ]:
# 1D - Arrays
a = 1.2, 3.6, 23.5, 2.6, 8.9, 5.6
a

(1.2, 3.6, 23.5, 2.6, 8.9, 5.6)

In [ ]:
# 2D - Arrays
A = [[11, 25, 35, 50], [12, 52, 98, 35], [85, 65, 25, 25], [21, 72, 20, 15]]
A

[[11, 25, 35, 50], [12, 52, 98, 35], [85, 65, 25, 25], [21, 72, 20, 15]]

In [ ]:
print(A[1][2])

98

#### Matrix

matrix is a special case of two dimensional array where each data element is of strictly same size. So every matrix is also a two dimensional array but not vice versa. Matrix is very importatnt data structures for many mathematical and scientific calculations. It has rows and columns.

In [ ]:
# Numpy is library used for numerical computing
from numpy import *    # '*' means extracting all functions.
a = array([['Mon', 12, 32,25,12],['Tue', 32, 25, 18,25],['wed', 56, 81, 10, 21], ['Thurs', 56, 81, 10, 53],
           ['Fri', 56, 81, 10, 71],['Sat', 56, 81, 10, 20],['Sat', 56, 81, 10, 20]])

In [ ]:
matrix = reshape(a,(7,5))
print(matrix)

[['Mon' '12' '32' '25' '12']
 ['Tue' '32' '25' '18' '25']
 ['wed' '56' '81' '10' '21']
 ['Thurs' '56' '81' '10' '53']
 ['Fri' '56' '81' '10' '71']
 ['Sat' '56' '81' '10' '20']
 ['Sat' '56' '81' '10' '20']]

####  Input / Output / New line / comment

In [ ]:
# Input  :- By default, it will give the output as string type.
input()

2

'2'

In [ ]:
# input() function with specified datatypes
float(input())

54

54.0

In [ ]:
# Output :- print() is used to display the output.
print(1+5)

6

In [ ]:
print('I want to become an expert')

I want to become an expert

In [ ]:
# New line : \n
print(" this is a jupiter notebook \n used for coding")

 this is a jupiter notebook
 used for coding

In [ ]:
# New line : """ ABC..."""
print(""" This is jupiter Notebook
 used for coding""")

In [ ]:
# Comment : # and "'ABC...'"
# This is comment line

# <font color=Orange>Flow control statement<font/>
### 1. Sequential control statement
### 2. Decision / Selection control statement
### 3. Loop / Iterative control statement

## <font color=green>1. Sequential control statement<font/>

In [ ]:
# Sequential Statement
a = 'Amit'
b =' Kumar'
c = a+b
print(c)

Amit Kumar

## <font color=green>2. Decision / Selection control statement<font/>

### -  if
### -  if-else
### -  elif

### <font color=Red>if Statement<font/>

In [ ]:
# Program for If Statement
a= 20

if a >=18:
        print("Person is eligible for vote")

### <font color=Red>if-else Statement<font/>

In [ ]:
# Program for if-else Statement :- Voting Eligibility

a = 21

if  a >= 18:
    print("Person is eligible for vote")
else:
    print("Person is not eligible for vote")

In [ ]:
# Program for If-else Statement:- ATM Program

Bal = 200
Withdraw = (int)(input("Enter the Amount"))

if Withdraw > Bal:
        print("Invalid Amount")

else:
        Balance = Bal - Withdraw
        print("Your available account balance is:", Balance)

### <font color=Red>elif Statement<font/>

In [ ]:
# Program for elif Statement: Greater Number

a = (int)(input("Enter the First Number"))
b = (int)(input("Enter the Second Number"))
c = (int)(input("Enter the Third Number"))

if a>b and a>c :
        print("A is greater")
elif b>a and b>c :
        print("B is greater")
else :
        print("C is greater")

In [ ]:
# Program for elif Statement: Student's Name besed Informing Examination Room and Stream

# Number of Branch Variables.
Mechanical = ["Amit","Ajay", "Rohan", "Gaurav", "Tejinder Singh"]
Civil = ["Ayush", "Arohi", "Rohan", "Mahi","Akshay"]
Electrical = ["Ajeet", "Aman", "Ankit", "Ajay das", "July"]
Computer = ["Abhinash", "Farhan", "Rahul", "Joe", "Tejinder"]

# Get the branch name and welcome the student.
Student_name = input("Enter your name:")
Student_name = Student_name.title()

# Control if the student belongs to above specified branch
if Student_name in Mechanical :
                 print("\n\nHello..!", Student_name)
                 print("Welcome your in ACMT Group of colleges")
                 print("Your Branch is Mechanical Engineering \nYour Examination Room No:01")
elif Student_name in Civil :
                 print("\n\nHello..!", Student_name)
                 print("Welcome your in ACMT Group of colleges")
                 print("Your branch is Civil Engineering \nYour Examination Room No:02")
elif Student_name in Electrical :
                 print("\n\nHello..!", Student_name)
                 print("Welcome your in ACMT Group of colleges")
                 print("Your branch is Electrical Engineering \nYour Examination Room No:03")
else:
    print("\n\nHello..!", Student_name)
    print("Welcome your in ACMT Group of colleges")
    print("Your branch is computer science Engineering \nYour Examination Room No:04")

## <font color=green>3. Loop or Iteration control statement<font/>
Sometimes we need to run a block of code a number of times.

### -  for loop  ( Definite Loop/ Bounded)
- A loop that has set number of times to run.

### -  While loop ( IndefiniteLoop/ Unbounded)
- A loop that has indefinite number of times to run.

### 1. <font color=red>for loop<font/>  ( Definite Loop/ Bounded)
- A loop that has set number of times to run.
    
### syntax -
###         <font color=red>for<font/> <font color=blue>variable<font/> <font color=red>range<font/> <font color=black>(Start<font/> , <font color=orange>end<font/> , <font color=black>increment<font/>) :
    
                                              Instructions
                                              Instructions

In [ ]:
# for loop : Three arguments (starting, Ending, Increment)
for i in range(1,10,2):
    print(i)

In [ ]:
# If we don't provide increment, By defaults, it takes increment=1.
for i in range(1,10):
    print(i)

In [ ]:
# If we don't provide starting point and increment, By defaults, it takes starting = 0 and increment=1.
for i in range(10):
    print(i)

In [ ]:
for i in range(1,10):
    print("Akshay Kumar")

In [ ]:
# By default, Loop has new line instruction in program. if we want to continue in one line then-
for i in range(1,10):
    print("Akshay kumar",end=" ")

### 2. <font color=red>while loop<font/>  ( Indefinite Loop/ Unbounded)
- A loop that has indefinite number of times to run.
    
### Syntax:-    <font color=red>while<font/> <font color=blue>condition<font/>:
                          Instruction/ statement
                          Instruction/ statement

In [ ]:
x = 1
while x<=5:
    print(x)
    x=x+1

In [ ]:
i = 1
while i<=10:
    print("Akshay Kumar")
    i=i+1

###  We have two jumping statement

### <font color=red>Break , Continue <font/>

In [ ]:
# Break statement
i=1
while (i<=10):
    print(i)
    i=i+1
    if(i==5):
        break

1
2
3
4

In [ ]:
# Continue statement
i=1
while (i<=10):
    i=i+1
    print(i)
    if(i==5):
        continue

2
3
4
5
6
7
8
9
10
11

In [ ]:
# Continue statement
i=1
while (i<=10):
        i=i+1
        if(i==5):
            continue
        print(i)

2
3
4
6
7
8
9
10
11

In [ ]:
# Continue statement
i=1
while (i<=10):
        i=i+1
        if(i==5 or i==7):
            continue
        print(i)

2
3
4
6
8
9
10
11

## Popular program using for Loop and while Loop

#### **1. Sum of range of numbers**

In [ ]:
# 1. Write a program to sum of number from 1 to 10.

s = 0

for i in range(1,11):
    s=s+i

print("Sum is = ",s)

Sum is =  55

####  **2. Print a table of any number**

In [ ]:
# 2.A .Write a program to print a table in multiplication steps.

a = (int)(input("Enter the number: "))

for i in range(1,11):
    print(a," * ",i," = ",a*i)

In [ ]:
# 2.B .Write a program to print Table from 2 to 10.

for i in range(2,10+1):
    for j in range(1,10+1):          # By using nested loop
        print(i*j, end=" ")
    print("\n")

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

#### **3. Factorial of a number**

In [ ]:
# 3.Write a program to print factorial of a number.
a = (int)(input("Enter a number : "))
f=1
for i in range(1,a+1):
    f=f*i

print("Factorial is = ",f)

#### **4. To check a number is prime or not**

In [ ]:
# 4.Write a program to check a number is prime or not.

num = int(input('Enter a number: '))

# Prime numbers are greater than 1
if num > 1:
    # Chech for factors
    for i in range(2,num+1):
        if (num%i)==0:
            print('Number is not a prime number')
            print(i, "times", num//i, 'is', num)
            break

        else:
            print(num, "is a prime number")
            break

else:
    print(num, 'is not a prime number')

#### **5. Prime number within a range**

In [ ]:
# 5.Write a program to print prime number between 1 to 100.

for i in range(1,100):
    j=2
    while j<=i//2:
        if(i%j==0):
            break
        j=j+1

    if (j>i//2):
        print(i)

#### **6. Reverse a number**

In [ ]:
# 6.Write a program to reverse a number.

a = (int)(input("Enter a number : "))
s=0
while a!=0:       # One by one, we have to take out the digits.
    x=a%10        # Modulus by 10 give the remainder that is the last number : 3
    s=s*10+x      # Output per iteration.
    a=a//10       # floor division takes only integer part, removes the digit after decimal: 26.2

print("Reverse of given number is : ",s)

#### **7. Check a number is perfect or not**

In [ ]:
# 7.Write a program to check a number is perfect or not.  6 = 1,2,3

a=(int)(input("Enter a number"))
s=0

for i in range(1,a//2+1):
    if a%i==0:
        s=s+i

if s==a:
    print("Number is perfect Number")
else:
    print("Number is not perfect Number")

#### **8. Palindrome number**

In [ ]:
# 8.Write a program to check a number is palindrome number.
# Palindrome number is that number which is same as the form after reversing the digit.

a=(int)(input("Enter a number : "))
z=a
s=0

while a!=0:
    x=a%10
    s=s*10+x
    a=a//10

if s==z:
    print("Number is Palindrome")
else:
    Print("Number is not Palindrome")

#### **9. Armstrong number - 3 digit number**

In [ ]:
# 9.Write a program to check a 3 digit number is Armstrong or not.   153=1*1*1+5*5*5+3*3*3, 407= 4*4*4+0*0*0+7*7*7


a=(int)(input("Enter a number : "))
z=a
s=0

while a!=0:
    x=a%10
    s=s+x**3
    a=a//10

if z==s:
    print("Number is Armstrong")
else:
    print("Number is not Armstrong")

#### **11. Armstrong number - N number of digit**

In [ ]:
# 10.Write a program to check a number is Armstrong or not for N number of digit.  45=4*4+5*5, 153=1*1*1+5*5*5+3*3*3


a=(int)(input("Enter a number : "))
z=a

n = len(str(a))

s=0

while a!=0:
    x=a%10
    s=s+x**n
    a=a//10

if z==s:
    print("Number is Armstrong")
else:
    print("Number is not Armstrong")

#### **13. Armstrong number - Within a specified range of number**

In [ ]:
# 13.A .Write a program to print Armstrong number from 100 to 1000.

for i in range(100,1000):
    s=0
    z=i
    while z!=0:
        x=z%10
        s=s+x*x*x
        z=z//10
    if i==s:
        print(i)

In [ ]:
# 13.B .Write a program to check Armstrong number in a certain interval.

lower = 100
upper = 2000

for num in range(lower, upper + 1):

    # Order of digits in a number
    order =len(str(num))

    # initialize sum
    sum = 0

    temp = num
    while temp>0:
        digit = temp%10
        sum += digit ** order
        temp//=10

    if num == sum:
        print("Armstrong numbers is: ",num)

#### **14. Fibonacci Series**

In [ ]:
# 14.Write a program to print Fibonacci series. Made by adding last two number of that new nuber

a=(int)(input("Enter Number of Terms "))
first=0
second=1

for i in range(1, a+1):
    print(first)
    third=first+second
    first=second
    second=third

#### **15. HCF -<font color=blue> Higher Common Factor**<font/> of two number

In [ ]:
# 15.Write a program to calculate HCF of two number.

a=(int)(input('Enter first number'))
b=(int)(input('Enter second number'))
small=0
if a<b:
    small=a
else:
    small=b

for i in range(small,0,-1):
    if a%i==0 and b%i==0:
        print("HCF is ",i)
        break

#### **16. LCM- <font color=blue>Least Common Factor**<font/> of two number

In [ ]:
# 16.Write a program to calculate LCM of two number.

a=(int)(input('Enter first number: '))
b=(int)(input('Enter second number: '))
small=0
if a>b:
    big=a
else:
    big=b

for i in range(big,a*b+1):
    if i%a==0 and i%b==0:
        print("LCM is ",i)
        break

#### <font color=blue> **HCF and LCM** <font/> for two number

In [ ]:
# 16.C .Write a program to calculate HCF and LCF of two number.
a=(int)(input('Enter first number: '))
b=(int)(input('Enter second number: '))
small=0
if a>b:
    big=a
else:
    big=b

for i in range(big,a*b+1):
    if i%a==0 and i%b==0:
        print("LCM is ",i)
        print("HCF is ", (a*b)/i)
        break

# <font color=red>Function<font/>
    
* Functions are pieces(block) of code that does something.
* They are reusable.
* They execute or run when called by their name.
* They can have **<font color=green>parameters<font/>**(<font color=Red>variables<font/>) <font color=black>and<font/> <font color=green>**arguments**(<font color=red>values<font/>)<font color=black>
* They can return data as a result.
* There are built-in functions. eg:- **print(), min(), max()** etc.
* You can also create your own custom functions.
<font/>
    
    
## Creating a function
  
#### Part 1. Defining the function with <font color=green>def<font/> <font color=black>Keyword and function name.<font/>
### <Font color=green>**def**<font/>   <font color=blue>function_name():<font/>
       Instructions..
       Instructions..
    
#### Part 2. Calling a function
- Also known as: running, executing, invoking.
- You can call a function by it's name and add parenthesis.
- Any parameters or arguments are placed inside the parenthesis.    

### <font color=blue>**function_name():**<font/>

#### Parameter Vs Argument
- A **Parameters** is a variable defined inside a function's parenthesis. While defining the funcion, number of parameters are given.
- An **Arguments** is the actual value you pass(**Give**) the function when it is called.

In [ ]:
######>* Creating a simple function

####... part -1. Defining the function..........

def function_name():
    # instructions....
    # instructions....
    print('Hello World')

####... part -2. Calling the function........(Also known as: running, executing, invoking the function)
function_name()

Hello World

In [ ]:
######>* Creating a function which adds two numbers.

# 1.Defining a function.
def add_two_num(x,y):
    print(x+y)

# 2.Calling a function.
add_two_num(10,20)

30

#### Return Value  :-  If you want a function to return a value, you need to use Return keyword inside the function.

##### This is used inside the function to return a value.

In [ ]:
### Defining the function.
def sum(x,y):
    return x+y

### Calling the function.
sum(5,10)

15

#### Default Parameter Value
##### This is the value function uses when called without passing it a value.

In [ ]:
### Defining the function.
def student_name(name='Akshay Kumar'):
    print('Hello '+ name)

### Calling The function.
student_name()
student_name('Rohit')
student_name('Amit')

Hello Akshay Kumar
Hello Rohit
Hello Amit

#### Keyword Arguments
- Allows you to use what parameters to use from alist of parameters.
- You do not need to worry about the order of arguments.
- Allow you to givevalue only to parameters you want provided the other parameters have default argument values.

In [ ]:
# Defining the function
def more_num(a, b=6, c=8):
    print("a is:",a," and, b is:",b," while c is:",c)

# Calling the function
more_num(6,8)
more_num(41, c=25)
more_num(c=10, a=5)

a is: 6  and, b is: 8  while c is: 8
a is: 41  and, b is: 6  while c is: 25
a is: 5  and, b is: 6  while c is: 10

In [ ]:
# Function returning other function

### Defining
def greeting():
    def say_hello():
        return "Hello, We welcome yours. Please get in...!"
    return say_hello()

### Calling the function.
greeting()

'Hello, We welcome yours. Please get in...!'

In [ ]:
# Assigning a function into a variable

### Defining
def mynum(x):
    return x+1

# Assigning a function into a variable
num = mynum

# Calling a function.
print(num(2))
print(num(8))
print(num(15))

3
9
16

In [ ]:
# Global and Local variable

x=10  # Global variable

def mynum(x):
    print(x)
    x=7      # local variable
    print("My fav number is ", x)

mynum(x)

x   # value of global variable doesn't change.

10
My fav number is  7

10

In [ ]:
# Nesting Functions

# Defining the function
def mynum(a):
    def num(a):
        return a+1
    result = num(a)
    return result
# Calling the function
mynum(5)

6

In [ ]:
# Nested function accessing variable scope.

# Defining the nested function.
def display_message(message):

    def message_sender():
        print(message)
    message_sender()

# Calling the function
display_message('Show me the money..!')

Show me the money..!

In [ ]:
# Pass Keyword in python

def dream_home():    # It will directly pass without giving any output.
    pass

In [ ]:
# Passing function as arguments to other functions.

def mynum(b):
    return b + 1
def addnum(c):
    newnum = 7
    return c(newnum)

print(addnum(mynum))

8

#### VarArgs Parameters
- Lets you define number of argumets for a function.
- It is done using * symbol.

In [ ]:
# defining a function
def total_numbers(a=10, *numbers, **phonebook):     # Single * means Tuple  and Double ** means Dictionary.
    print("Myfav number is", a)

    for num in numbers:
        print("num", num)

    for name, phone_number in phonebook.items():
        print(name, phone_number)

#calling the function
total_numbers(7,1,2,3,4,amit=302,Raju=300,Mohan=250)

Myfav number is 7
num 1
num 2
num 3
num 4
amit 302
Raju 300
Mohan 250

### Anonymous Functions(Lambda)

- They are defined using the lambda keyword.
- They can take several arguments but can only have expression.

 **lambda <font color=red>Parameters <font/>:<font color=purple> instructions/Return value<font/>**

In [ ]:
# Anonymous function lambda
a = lambda x: x+6                # Defining

a(4)                             # Calling

10

In [ ]:
b = lambda x, y: x+y      # Defining

b(10,20)                  # Calling

30

In [ ]:
#Lambda function in custom function

def ghost_number(n):
    return lambda f:f*n


duble_num =ghost_number(5)

duble_num(10)

50

-------------------------------------------------------------------------------------------------------------------------------


## <font color=gren>Types of functions in Python<font/>

In real time, a Python function may define with or without parameters, and a function may or may not return a value. It entirely depends upon the user requirement.

- Function with No argument and No return value.
- Function with No argument and with a Return value.
- Function with  argument and No return value.
- Function with argument and Return value.

### **<font color=green>1. Python Function with No argument and No Return<font/>**

In this type, we are going to calculate the Sum of 2 integer values and print the output from the user defined function itself.

In [ ]:
# Python Function with No Arguments, and No Return Value
def Adding():
    a = 20
    b = 30
    Sum = a + b
    print("After Calling the Function:", Sum)

In [ ]:
Adding()

### **<font color=green>2. Python Function with No arguments and with a Return value<font/>**

In this type, we are going to calculate the multiplication of 2 integer values using the user defined function without arguments and return keyword.

In [ ]:
# Python Function with No Arguments, and with Return Value
def Multiplication():
    a = 10
    b = 25
    Multi = a * b
    return Multi

In [ ]:
Multiplication()

In [ ]:
# Here, Whenever we call the Multiplication() function, it prints the same output because a and b have fixed values
# inside the function.

print("After Calling the Multiplication Function: ", Multiplication())

In [ ]:
print(Multiplication())

### **<font color=green>3. Python Function with argument and No Return value<font/>**

In this type of function in Python, Program allows the user to enter 2 integer values and then, We are going to pass those values to the user defined function to Multiply them.

In [ ]:
# Python Function with Arguments, and NO Return Value
def Multiplications(a, b):
    Multi = a * b
    print("After Calling the Function:", Multi)

### **Note** :-
Within the Multiplication(a, b) function, We declared the variables of Multi, and also, we also has (a, b) arguments in the function. It means this function allows the user to pass 2 values.

In [ ]:
# Calling the function
Multiplications(10, 20)

In [ ]:
# Calling the function
Multiplications(5,-10)

### **<font color=green>4. Python Function with arguments and Return value<font/>**

This type of function, Program allows the user to enter 2 integer values. Then, we pass those values to the user-defined function to add those values and return the value using the return keyword.

In [ ]:
# Python Function with Arguments, and NO Return Value
def Addition(a, b):
    Sum = a + b
    return Sum

In [ ]:
# We are calling the Function Outside the Function Definition
print("After Calling the Function:", Addition(25, 45))

In [ ]:
Addition(12,5)

In [ ]:
# If we don't pass both values, function doesn't run
Addition(10)

In [ ]:
# Python function with Arguments of predefined values.

def Add5(a=5, b=5):
    Sum = a + b
    return Sum

In [ ]:
Add5(10)

In [ ]:
Add5(10,20)